.splash {
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 2em;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

.splash .title img, .splash .title h1   {
  vertical-align:middle;
  margin: 5px;
  display: inline;
}

.splash .title img {
  height: 64px;
}


.splash .title  {
  font-weight: bold;
  color: indigo;
  text-shadow: 0 0 1em indigo;
  border: 3px solid indigo;
  padding: 5px;
  border-radius: 5px;
  line-height: 1em;
  text-align: center;
  margin: 5px;
}

.splash-subhead {
  color: indigo;
  font-weight: bolder;
  letter-spacing: 0.05em;
}

.splash a.k-button {
  font-weight: bold;
  font-size: 120%;
}

.fixed-wraper {
  height: 100%;
}

.content-wrapper {
  top: 50%;
}

@media only screen and (min-width: 768px) {
  .content-wrapper {
    top: 70%;
  }
  .splash {
    margin-top: 0;
  }
  .splash .title  {
    font-size: 4em;
    height: 2.5em;
  }

  .splash .title img   {
    height: 128px;
  }
}
